*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

*, html {
  -webkit-font-smoothing: antialiased; }

  p {
    padding-bottom: 15px;
  }

  a {
  	font-weight: 400;
  	text-decoration: none;
  	color: #5049E7;
  	position: relative;
  	transition: color 0.3s ease;
  }

  	&:hover {
  		text-decoration: none;
  		cursor: pointer;
      font-weight: bold;
      color: #333;

  	}

  	&.text-link:hover:after {
  		width: 100%;
  		z-index: 100;
  	}
}




/*NAVIGATION*/

.hero {
  height: 600px;
}

.Navbar {
  background-color: black;
  width: 100%;
  display: flex;
  padding: 16px;
  font-family: 'karla',sans-serif;
  color: white;
}
.Navbar__Link {
  max-width: 1200px;
  padding: 0 6%;
  margin-right: 25px;
}

.Navbar__Link-logo img {
  width: 50px;
  margin-left: 0px;
}
.Navbar__Items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5px;
}
.Navbar__Items--right {
  margin-left:auto;
  padding-right: 6%;
}
.Navbar__Link-toggle {
  display: none;
  padding-top: 6px;
}

.Navbar__Items a {
  color: #F2F3F5;
}

.Navbar__Items a:hover {
  color: #A0A9FF;
}

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
.Navbar__Items {
    display:none;
  }
.Navbar__Items--right {
    margin-left:0;
  }
.Navbar__ToggleShow {
    display: flex;
  }
.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   }
}
/*MAIN*/

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 6%;
}




/*ABOUT*/

.project-title {
  padding-top: 2.5em;
  padding-bottom: 0.5em;
  font-family: "karla", sans-serif;
  line-height: 52px;
  font-size: 45px;
  font-weight: bolder;
  text-align: left;
  color: #19191A;
}

@media screen and (max-width: 900px){
.project-title {
    font-size: 36px;
}
}



@media screen and (max-width: 480px){
.project-title {
    font-size: 32px;
    margin-bottom: 0px;
}
}




.content-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 680px;
  margin: 0 auto;
}

@media screen and (max-width: 900px){
.content-container {
  margin-right: 30px;
  margin-left: 30px;
}
}
@media screen and (max-width: 480px){
.content-container {
    margin-right: 25px;
    margin-left: 25px;
}
}



.img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 680px;
  height: 320px;
  margin: auto;
  object-fit: cover;
  overflow: hidden;
  position: relative;

}

@media screen and (max-width: 480px){
.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}
}



.img-item img {
  min-width: 0;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-right: 6px solid white;
}

.img {
  max-width: 100%;
}

@media screen and (max-width: 440px){
 img {

}
}

.about-section {
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  font-family: 'karla', sans-serif;
  color: #333;
}


.title3 {
  font-family: "karla", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #333;
  padding-top: 30px;
  padding-bottom: 10px;
}
  @media screen and (max-width: 900px){
  .title3 {
      font-size: 20px;
  }
  }


.title3 .lighter-color {
  font-family: "karla", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #BABABA;
  padding-bottom: 10px;

}

@media screen and (max-width: 900px){
.title3 .lighter-color {
    font-size: 20px;
}
}


.body {
  font-family: "karla", sans-serif;
  font-size: 18px;
  padding-bottom: 30px;
  line-height: 25px;
  color: #646466;
}

@media screen and (max-width: 900px){
.body {
    font-size: 16px;
}
}

@media screen and (max-width: 480px){
.body {
    font-size: 16px;
}
}

/*FOOTER*/

.footer {
  width: 100%;
  height: 20px;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 20px
}

.footer-content {
  width: 80%
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  margin-bottom: 30px;
  border-top: 1px solid #E7E7E7;
}



.tiny-text {
  color: #979797;
  font-size: 12px;
  text-align: center;
  font-family: "karla", sans-serif;
  padding: 10px 10px;
}
