*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

*, html {
  -webkit-font-smoothing: antialiased; }

  p {
    padding-bottom: 15px;
  }

  a {
  	font-weight: 400;
  	text-decoration: none;
  	color: #5049E7;
  	position: relative;
  	transition: color 0.3s ease;
  }

  	&:hover {
  		text-decoration: none;
  		cursor: pointer;
      font-weight: bold;
      color: #333;

  	}

  	&.text-link:hover:after {
  		width: 100%;
  		z-index: 100;
  	}
}


/*NAVIGATION*/

.hero {
  height: 600px;
}

.topnav {
  background-color: black;
  height: 60px;
  overflow: hidden;
}


.topnav img {
  width: 50px;
  float: left;
  padding-top: 15px;
}

.topnav .links {
  float: right;
  margin: 0 auto;
  padding-top: 10px;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    font-family: 'karla', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.topnav .links a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    font-weight: normal;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'karla', sans-serif;
    font-size: 16px;
}

.topnav a:hover {
    color: #808BF9;
    font-weight: bold;
}
.active {
    font-weight: bold;
    color: white;
}

.topnav .links .icon {
    display: none;
}

@media screen and (max-width: 600px) {
  .topnav .links a {
    display: none;
  }
  .topnav .links a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.links.responsive a {position: relative;}
  .links.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.links.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 6%;
}




/*ABOUT*/

.project-title {
  padding-top: 2.5em;
  padding-bottom: 1em;
  font-family: "karla", sans-serif;
  line-height: 52px;
  font-size: 45px;
  font-weight: bolder;
  text-align: left;
  color: #19191A;
}

.project-title .lighter-color {
  padding-top: 3em;
  font-family: "karla", sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-align: left;
  color: #CDCDCD;
}
.content-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 680px;
  margin: 0 auto;
}

.img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 680px;
  height: 320px;
  margin: auto;
  object-fit: cover;
  overflow: hidden;
  position: relative;

}

.img-item img {
  min-width: 0;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-right: 6px solid white;
}

.img {
  width: 100%;
  height: 100%;
}

.about-section {
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  font-family: karla;
  color: #333;
}

.title3 {
  font-family: "karla", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #333;
  padding-top: 30px;
  padding-bottom: 25px;
}

.title3 .lighter-color {
  font-family: "karla", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #CDCDCD;
  padding-bottom: 30px;

}

.body {
  font-family: "karla", sans-serif;
  font-size: 16px;
  padding-bottom: 30px;
  line-height: 24px;
  color: #646466;
}


/*FOOTER*/

.footer {
  width: 100%;
  height: 20px;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 20px
}

.footer-content {
  width: 80%
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  margin-bottom: 30px;
  border-top: 1px solid #E7E7E7;
}



.tiny-text {
  color: #979797;
  font-size: 12px;
  text-align: center;
  font-family: "karla", sans-serif;
  padding: 10px 10px;
}
