
/* Main Document Styling
––––––––––––––––––––––––––––––––––––––––––––––––––*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

*, html {
  -webkit-font-smoothing: antialiased; }

  p {
    padding-bottom: 15px;
  }

  a {
  	font-weight: 400;
  	text-decoration: none;
  	color: #5049E7;
  	position: relative;
  	transition: color 0.3s ease;
  }

  	&:hover {
  		text-decoration: none;
  		cursor: pointer;
      font-weight: bold;
      color: #333;

  	}

  	&.text-link:hover:after {
  		width: 100%;
  		z-index: 100;
  	}
}

/*project-title
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.project-title {

}
/* Animations
––––––––––––––––––––––––––––––––––––––––––––––––––*/


/*=== Trigger  ===*/
.animate {
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
}

/*=== Optional Delays, change values here  ===*/
.one {
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4s;
}

.two {
-webkit-animation-delay: 0.8s;
-moz-animation-delay: 0.8s;
animation-delay: 0.8s;
}

.three {
-webkit-animation-delay: 2.3s;
-moz-animation-delay: 2.3s;
animation-delay: 2.3s;
}

.four {
-webkit-animation-delay: 3.3s;
-moz-animation-delay: 3.3s;
animation-delay: 3.3s;
}

          /*=== Animations start here  ===*/
          /*=== FADE IN  ===*/
          @-webkit-keyframes fadeIn {
           from {
             opacity: 0;
           }

           to {
             opacity: 1;
           }
          }
          @keyframes fadeIn {
           from {
             opacity: 0;
           }

           to {
             opacity: 1;
           }
          }

          .fadeIn {
           -webkit-animation-name: fadeIn;
           animation-name: fadeIn;
          }


          /*=== FADE IN DOWN ===*/
          @-webkit-keyframes fadeInDown {
           from {
             opacity: 0;
             -webkit-transform: translate3d(0, -100%, 0);
             transform: translate3d(0, -100%, 0);
           }

           to {
             opacity: 1;
             -webkit-transform: none;
             transform: none;
           }
          }
          @keyframes fadeInDown {
           from {
             opacity: 0;
             -webkit-transform: translate3d(0, -100%, 0);
             transform: translate3d(0, -100%, 0);
           }

           to {
             opacity: 1;
             -webkit-transform: none;
             transform: none;
           }
          }

          .fadeInDown {
           -webkit-animation-name: fadeInDown;
           animation-name: fadeInDown;
          }



/*FOOTER*/

          .footer {
            width: 100%;
            height: 20px;
            padding-bottom: 10px;
            margin: auto auto 0 auto;
          }

          .footer-content {
            width: 80%
            display: flex;
            padding: 20px;
            flex-direction: column;
            align-items: center;
            justify-content:center;
            margin-bottom: 30px;
            border-top: 1px solid #E7E7E7;
          }


          .tiny-text {
            color: #979797;
            font-size: 12px;
            text-align: center;
            font-family: "work sans", sans-serif;
            padding: 10px 10px;
          }

          .copyright {
            color: #979797;
            font-size: 13px;
            text-align: center;
            font-family: "work sans", sans-serif;

          }


  /* Header
  ––––––––––––––––––––––––––––––––––––––––––––––––––*/


          .Topnav {
            background-color: black;
            height: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          .logo {
            display: flex;
            justify-content: center;
            align-items: left;
            width: 100%;
          }
          .logo img {
            width: 30px;
            margin-top: 9px;
          }



    /* Navigation Menu
    ––––––––––––––––––––––––––––––––––––––––––––––––––*/
                .Navbar {
                  margin-top: 30px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-family: 'work sans',sans-serif;

                }
                .Navbar__Link a {
                  max-width: 1200px;
                  font-size: 14px;
                  margin-bottom: 20px;
                  padding: 0 15px;
                  color: #9B9B9B;
                }

                .Navbar__Items {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  padding-top: 5px;
                  margin-bottom: 30px;
                  padding-right: 0;
                  color: #656565;
                  font-family: 'work sans', sans-serif;
                }


                .Navbar__Items a {
                  color: #8C8C8C;

                }

                .Navbar__Items a:hover {
                  color: #333;
                  font-weight: 500;
                }


           .Navbar_Items {
              position:absolute;
              left:0;
              top:36px;
              z-index:1;
              visibility:hidden;
              opacity:0;
              filter:alpha(opacity=0);
              -webkit-transition:200ms ease;
              -moz-transition:200ms ease;
              -o-transition:200ms ease;
              transition:200ms ease;
          }





/* body
  ––––––––––––––––––––––––––––––––––––––––––––––––––*/

      .body {
        font-family: "work sans", sans-serif;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 30px;
        line-height: 32px;
        color: #333;
      }
      @media screen and (max-width: 440px) {
        .body {
          font-size: 14px;
          line-height: 28px;
        }
      }






/*MAIN
  ––––––––––––––––––––––––––––––––––––––––––––––––––*/

    .main-container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 6%;
    }




/*about
––––––––––––––––––––––––––––––––––––––––––––––––––*/

    .content-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      max-width: 600px;
      margin: 0 auto;
    }

    @media screen and (max-width: 768px){
    .content-container {
      align-items: flex-start;
      margin-right: 30px;
      margin-left: 30px;
    }
    }
    @media screen and (max-width: 480px){
    .content-container {
        margin-right: 25px;
        margin-left: 25px;
    }
    }

    .project-title {

      padding-top: 50px;
      padding-bottom: 1em;
      font-family: "work sans", sans-serif;
      line-height: 52px;
      font-size: 38px;
      font-weight: 600;
      text-align: center;
      color: #19191A;
    }

@media screen and (max-width: 768px){
.project-title {
    font-size: 32px;
    margin: 0;
    text-align: left;
}
}

@media screen and (max-width: 480px){
.project-title {
    font-size: 32px;
    margin-bottom: 0px;
}
}




*.img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

/*.img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 880px;
  margin: auto;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px){
.img-container {

}
}
@media screen and (max-width: 480px){
.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;

}
}
*/

.img-item img {
  min-width: 0;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-right: 3px solid white;
  border-left: 3px solid white;
}



@media screen and (max-width: 440px){
 .img-item img  {
   width: 100%;
}
}

.about-section {
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  font-family: 'work sans', sans-serif;
  color: #333;
}


.title3 {
  font-family: "work sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #333;
  padding-top: 30px;
  padding-bottom: 10px;
}
  @media screen and (max-width: 480px){
  .title3 {
      font-size: 18px;
  }


.body {
  font-family: "work sans", sans-serif;
  font-size: 16px;
  padding-bottom: 30px;
  line-height: 25px;
  color: #333;
}

@media screen and (max-width: 480px){
.body {
    font-size: 14px;
}
}
