
*,
*:after,
*:before {
	box-sizing: border-box;
}
body,
html {
	font-family: 'work sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	background: #f2f2f2;
	color: #2D3737;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
}

.protected {
	background: #fff;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
   /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	/*box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);*/
	border-radius: 3px;
	min-width: 500px;

}

@media all and (max-width: 600px) {
	.protected {
	  max-width: 320px;
	}
	}

.protected__content {
	padding: 24px 28px;
}
.protected__content__heading {
	font-size: 16px;
	font-weight: 500;
	margin: 0 0 12px;
	line-height: 1;
}
.protected__alert {
	display: none;
	border-bottom: 1px solid transparent;
	border-radius: 3px 3px 0px 0px;
	padding: 12px 14px;
	font-weight: 400;
	letter-spacing: -0.02em;
	color:  #DD3D0A;
	background-color: #FFEEEE;
	border-color: #FFE3E3
}
.protected__content__input {
	display: block;
	background: #F8F9FA;
	border: solid 1px #D8DCE1;
	padding: 12px 14px;
	/*
	-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
	/*box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);*/
	font-size: 16px;
	width: 100%;
	border-radius: 0px;
	margin-bottom: 12px;
}
.protected__content__input:focus {
	outline: none;
	border-color: #4054F6;
}
.protected__content__btn {
	background-color: #4054F6;
	border-radius: 0px;
	cursor: pointer;
	border: none;
	color: #fff;
	padding: 12px 16px;
	font-family: 'work sans', sans-serif;
	font-weight: normal;
	letter-spacing: -0.02em;
	font-size: 16px;

}
.protected__content__btn:hover {
	background-color: #263BDC;
}



	
.protected__content {
	padding: 24px 28px;
}
.protected__content__heading {
	font-size: 16px;
	font-weight: 500;
	margin: 0 0 12px;
	line-height: 1;
}
.protected__alert {
	display: none;
	border-bottom: 1px solid transparent;
	border-radius: 3px 3px 0px 0px;
	padding: 12px 14px;
	font-weight: 400;
	letter-spacing: -0.02em;
	color:  #DD3D0A;
	background-color: #FFEEEE;
	border-color: #FFE3E3
}




div.horizontal {
	display: flex;
	justify-content: center;
	height: 100%;
}

div.vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

::-webkit-input-placeholder {
   color: #BAC1CB;
   text-align: left;
}

::-moz-placeholder {
   color:#BAC1CB;
   text-align: left;
}

:-ms-input-placeholder {
   color:#BAC1CB;
   text-align: left;
}
