
*,
*:after,
*:before {
	box-sizing: border-box;
}
body,
html {
	font-family: 'work sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	background: #f2f2f2;
	color: #2D3737;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
}



div.horizontal {
	display: flex;
	justify-content: center;
	height: 100%;
}

div.vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

::-webkit-input-placeholder {
   color: #BAC1CB;
   text-align: left;
}

::-moz-placeholder {
   color:#BAC1CB;
   text-align: left;
}

:-ms-input-placeholder {
   color:#BAC1CB;
   text-align: left;
}
