*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}


*, html {
  -webkit-font-smoothing: antialiased; }

  p {
    padding-bottom: 15px;
  }

  a {
  	font-weight: 400;
    font-size: 14px;
  	text-decoration: none;
  	color: #333;
  	position: relative;
  	transition: color 0.3s ease;
    text-decoration: underline;
  }

  	&:hover {
      text-decoration: none;
  		cursor: pointer;
      font-weight: bold;
      color: #333;

  	}

  	&.text-link:hover:after {
  		width: 100%;
  		z-index: 100;
  	}
}





/* add simple fade in and down when load */


/*=== Trigger  ===*/
                .animate {
                 -webkit-animation-duration: 1s;
                 animation-duration: 1s;
                 -webkit-animation-fill-mode: both;
                 animation-fill-mode: both;
                }

/*=== Optional Delays, change values here  ===*/
                .one {
                -webkit-animation-delay: 0.4s;
                -moz-animation-delay: 0.4s;
                animation-delay: 0.4s;
                }

                .two {
                -webkit-animation-delay: 0.8s;
                -moz-animation-delay: 0.8s;
                animation-delay: 0.8s;
                }

                .three {
                -webkit-animation-delay: 2.3s;
                -moz-animation-delay: 2.3s;
                animation-delay: 2.3s;
                }

                .four {
                -webkit-animation-delay: 3.3s;
                -moz-animation-delay: 3.3s;
                animation-delay: 3.3s;
                }

                /*=== Animations start here  ===*/
                /*=== FADE IN  ===*/
                @-webkit-keyframes fadeIn {
                 from {
                   opacity: 0;
                 }

                 to {
                   opacity: 1;
                 }
                }
                @keyframes fadeIn {
                 from {
                   opacity: 0;
                 }

                 to {
                   opacity: 1;
                 }
                }

                .fadeIn {
                 -webkit-animation-name: fadeIn;
                 animation-name: fadeIn;
                }


                /*=== FADE IN DOWN ===*/
                @-webkit-keyframes fadeInDown {
                 from {
                   opacity: 0;
                   -webkit-transform: translate3d(0, -100%, 0);
                   transform: translate3d(0, -100%, 0);
                 }

                 to {
                   opacity: 1;
                   -webkit-transform: none;
                   transform: none;
                 }
                }
                @keyframes fadeInDown {
                 from {
                   opacity: 0;
                   -webkit-transform: translate3d(0, -100%, 0);
                   transform: translate3d(0, -100%, 0);
                 }

                 to {
                   opacity: 1;
                   -webkit-transform: none;
                   transform: none;
                 }
                }

                .fadeInDown {
                 -webkit-animation-name: fadeInDown;
                 animation-name: fadeInDown;
                }





/*Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

/* The progress container (white background)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.progress-container {
  width: 100%;
  height: 3px;
  background: #fff;
}

/* The progress bar (scroll indicator)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.progress-bar {
  height: 3px;
  background: #FF5568;
  width: 0%;
}

.Topnav {
  background-color: black;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 8px 20px #D5D6D8;
  -webkit-transform: translate(0, -5px)
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.logo img {
  width: 27px;
  margin-top: 9px;
}

/* Navigation menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.Navbar {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'work sans',sans-serif;

}
.Navbar__Link a {
  max-width: 1200px;
  font-size: 13px;
  text-transform: uppercase;
  padding: 0 15px;
  color: #9B9B9B;
  text-decoration: none;
}

.Navbar__Items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5px;
  margin-bottom: 30px;
  padding-right: 0;
  color: #656565;
  font-family: 'work sans', sans-serif;
}

.Navbar__Link-toggle {
  display: none;
}


.Navbar__Items a {
  color: #8C8C8C;

}

.Navbar__Items a:hover {
  color: #A0A9FF;
  weight: 600;
}

/* Hamburger menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }

.Navbar__Items {
    display:none;
  }
.Navbar__Items--center {
    margin-left: 0;
  }
.Navbar__ToggleShow {
    display: flex;
  }
.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   }
}


/* Case study container
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.main-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 6%;
}

.content-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 680px;
  margin: 0 auto;
}

        @media screen and (max-width: 1000px) {
          .content-container {
            display: block;
            padding: 0px 20px;
        	}
        }
        @media screen and (max-width: 440px) {
          .content-container {
            display: block;
            padding: 0px 20px;
        	}
        }

/*Project Titles
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.project-title {
  padding-top: 50px;
  padding-bottom: 1em;
  font-family: "work sans", sans-serif;
  line-height: 45px;
  font-weight: 600;
  font-size: 40px;
  text-align: left;
  color: #333;
}

        @media screen and (max-width: 900px){
        .project-title {
            font-size: 36px;
          }
        }

        @media screen and (max-width: 440px) {
          .project-title {
        		  font-size: 34px;
              line-height: 40px;
        	}
        }

/* Section titles & subtitles
  ––––––––––––––––––––––––––––––––––––––––––––––––––*/
        .section-title {
          font-family: "work sans", sans-serif;
          font-size: 22px;
          font-weight: 600;
          color: #19191A;
          padding-top: 20px;
          padding-bottom: 25px;
        }
        @media screen and (max-width: 900px) {
            .section-title {
              font-size: 28px;
              }
            }

            @media screen and (max-width: 440px) {
              .section-title {
                font-size: 22px;
              }
            }

          .section-title-above {
            text-transform: uppercase;
            color: #9B9B9B;
            font-family: "work sans", sans-serif;
            font-size: 16px;
            padding-top: 20px;
          }


         .section-subtitle {
              font-family: "work sans", sans-serif;
              font-size: 16px;
              font-style: italic;;
              font-weight: 400;
              color: #333;
              padding-top: 30px;
              padding-bottom: 10px;
              margin-bottom: 10px
            }

            /* body
              ––––––––––––––––––––––––––––––––––––––––––––––––––*/

              .body {
                font-family: "work sans", sans-serif;
                font-size: 16px;
                padding-top: 10px;
                padding-bottom: 30px;
                line-height: 25px;
                color: #333;
              }
              @media screen and (max-width: 440px) {
                .body {
                  font-size: 14px;
                }
              }


              /* Links
                ––––––––––––––––––––––––––––––––––––––––––––––––––*/
            .protolink {
              padding-top: 3em;
              font-family: "work sans", sans-serif;
              font-size: 14px;
              text-decoration: underline;
              text-align: left;
              margin-bottom: 30px;
            }

            @media screen and (max-width: 440px) {
              .protolink {
                text-align: center;
              }

            .protolink a {
              color: #333;
              text-decoration: underline;
            }

              .protolink a:hover {
                color:  #252424;
                font-weight: 600;
              }
              a.text-link:after {
                  content: '';
                  display: block;
                  color: white;
                  position: absolute;
                  bottom: 0px;
                  left: 0;
                  width: 0%;
                  border-bottom: 1px solid #4555E6;
                  transition: 0.4s ease;
              }
  }
/* Cover Photo
–––––––––––––––––––––––––––––––––––––––––––––––––– */


        .cover-photo-container {
            flex-basis: 50%;
            flex-shrink: 0;
            overflow: hidden;
            position: relative;
            margin: 20px auto;
            border: 1px solid white;
        }
        .cover-photo-container img {
          position: relative;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }


        @media screen and (min-width: 440px) {
            .cover-photo-mobile img  {
            display: none;
          }
        }

        @media screen and (max-width: 900px) {
            .cover-photo-container {
              flex-direction: column;
              height: 50%;
              }
            }



        @media screen and (max-width: 900px) {
            .cover-photo-container img {
              flex-direction: column;
              height: 300px;

              }
            }
          @media screen and (max-width: 440px) {
            .cover-photo-container img  {
              display: none;
            }
          }
          @media screen and (max-width: 440px) {
            .cover-photo-mobile img  {
            display: inline-block;
            width: 100%;
            }
          }



    /* Intro quote
      ––––––––––––––––––––––––––––––––––––––––––––––––––*/
          .intro-quote {
            font-family: 'Raleway', sans-serif;
            font-size: 24px;
            color: #463A8F;
            line-height: 32px;
            font-style: italic;
            font-weight: 400;
            margin: 50px auto;
            padding-bottom: 10px;
          }
          @media screen and (max-width: 440px) {
            .intro-quote {
              font-size: 20px;
              line-height: 28px;
            }
            }


      /* process
       ––––––––––––––––––––––––––––––––––––––––––––––––––*/
              .process-img-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

              }
              .process-img  {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
              }
              .process-img img {
                margin-bottom: 70px;
              }

              @media screen and (max-width: 440px) {
                .process-img img {
                  width: 90%;
                 }
                }

            .data-img {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }

            .data-img img {
              margin-bottom: 5px;
            }

            @media screen and (max-width: 440px) {
              .data-img img {
                width: 100%;
               }
              }


        .sketch-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        /* Lists
         ––––––––––––––––––––––––––––––––––––––––––––––––––*/

        ul {
            list-style-type: circle;
            margin-right: 10px;
            padding-right: 30px;
            padding-left: 40px;
            margin-bottom: 50px;
        }

        /* Unordered Lists
        ––––––––––––––––––––––––––––––––––––––––––––––––––*/

            li {
              font-family: 'work sans', sans-serif;
              font-size: 16px;
              font-weight: 400;
              color: #333;
              margin: 15px auto;
              line-height: 24px;
            }

            @media screen and (max-width: 440px) {
              li  {
                font-size: 14px;
               }
              }

            ul li .bolder{
              font-weight: 600;

            }



            /* Thought
            ––––––––––––––––––––––––––––––––––––––––––––––––––*/

                .thought-container {
                  background-color: #59518C;
                  background-size: cover;
                  -webkit-background-size: cover;
                   -moz-background-size: cover;
                   -o-background-size: cover;
                  height: 380px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-top: 30px;
                  margin-bottom: 40px;
                }

                @media screen and (max-width: 440px) {
                .thought-container  {
                    height: 280px;
                  }
                }

                .thought {
                  font-family: 'work sans', sans-serif;
                  font-size: 28px;
                  text-align: center;
                  width: 600px;
                  color: #fff;
                  line-height: 32px;
                  font-style: italic;
                  font-weight: 500;
                  padding-top: 60px;
                  padding-bottom: 50px;
                  margin: 0 auto;
                }

                @media screen and (max-width: 440px) {
                .thought  {
                  font-size: 24px;
                  line-height: 28px;
                  padding-left: 15px;
                  padding-right: 15px;

                  }
                }




/* Special titles
  ––––––––––––––––––––––––––––––––––––––––––––––––––*/
.center-title {
  font-family: 'work sans', sans-serif;
  font-size: 16px;
  color: #333;
  text-align: center;
  margin: 0 auto;
  line-height: 32px;
  padding-top: 20px;
}

    @media screen and (max-width: 440px) {
      .center-title {
        font-size: 14px;
      }
}

.quote-container {
  margin-bottom: 70px;
}
.user-quote {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-style: italic;
  color: #463A8F;
  text-align: center;
  line-height: 28px;
  padding-top: 50px;
  padding-right: 60px;
  padding-left: 50px;
}

@media screen and (max-width: 440px) {
  .user-quote {
    padding-left: 10px;
    padding-right: 10px;
  }
}



.title7 {
  font-family: 'work sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #463A8F;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.title6 {
  font-family: 'work sans', sans-serif;
  font-size: 16px;
  color: #333;
  margin-top: 20px;
  margin-bottom: 50px;
  line-height: 24px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 440px) {
  .title6 {
    font-size: 14px;
  }
}

.line-break {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #463A8F;
  align-content: center;
  padding: 0;
  width: 75px;
}

hr {
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    margin-top: 3rem;
    margin-bottom: 1rem;
    border-width: 0;
}

.body a:hover {
  font-weight: 600;
}


/* Case Study Assets
––––––––––––––––––––––––––––––––––––––––––––––––––*/
    .body img {
      margin-top: 30px;
    }

    .comp-breakdown img {
      margin-left: 30px;
      margin-bottom: 40px;
    }

    .persona-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
      margin-top: 20px;
    }

    .persona {
      display: flex;
      justify-content: center;
    }

    .persona-item {
      width: 100%;
    }

    @media screen and (max-width: 440px) {
      .persona {
        flex-direction: column;
        width: 100%;
      }
    }


   .comp-breakdown {
     display: flex;
     justify-content: center;
     align-items: center;
   }

   @media screen and (max-width: 440px) {
     .comp-breakdown img {
       width: 100%;
       padding-right: 15px;
   }
 }

    .feature-set img {
      margin-left: 20px;
      margin-bottom: 40px;
      margin-top: 5px;
    }
    .flows img {
      margin-top: 20px;
      margin-bottom: 40px;
    }
    .sitemap img {
      margin-top: 30px;
    }

    .logo-runga img {
      margin-top: 20px;
    }

    .style-guide img {
      margin-top: 30px;
      margin-left: 50px;
    }

    .med-fi img {
      margin-left: 50px;
      margin-bottom: 50px;
    }

    .onboarding img {
      margin-left: 50px;
    }

    .explore img {
      margin-left: 100px;
      margin-bottom: 40px;
      margin-top: 20px;
    }

    .preference img {
      margin-left: 60px;
    }

    .plan img {
      margin-left: 50px;
    }

    .badges img {
      margin-top: 30px;
      margin-left: 70px;
    }





.line-break2 {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #4E47E0;
  align-content: center;
  padding: 0;
  width: 75px;
}

.small-text {
  font-family: 'work sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin: 15px auto;
  line-height: 24px;
}


/*FOOTER
––––––––––––––––––––––––––––––––––––––––––––––––––*/

.footer {
  width: 100%;
  height: 20px;
  padding-bottom: 10px;
  margin: auto auto 0 auto;
}

.footer-content {
  width: 80%
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  margin-bottom: 30px;
  border-top: 1px solid #E7E7E7;
}


.tiny-text {
  color: #979797;
  font-size: 12px;
  text-align: center;
  font-family: "work sans", sans-serif;
  padding: 10px 10px;
}

.copyright {
  color: #979797;
  font-size: 13px;
  text-align: center;
  font-family: "work sans", sans-serif;

}
