
/* Main Document Styling
––––––––––––––––––––––––––––––––––––––––––––––––––*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

*, html {
  -webkit-font-smoothing: antialiased;
  
}


  p {
    padding-bottom: 15px;
  }

  a {
  	font-weight: 400;
  	color: #5049E7;
  	position: relative;
  	transition: color 0.3s ease;
  }

  ul {
      list-style-type: circle;
      margin-right: 10px;
      padding-right: 10px;
      padding-left: 40px;
  }




  ol li {
         margin-left: 60px;
         margin-right: 40px;
         font-family: "work sans", sans-serif;
         font-size: 16px;
         padding-top: 10px;
         padding-bottom: 0px;
         line-height: 25px;
         color: #333;
       }

   li {
            font-family: "work sans", sans-serif;
            font-size: 16px;
            padding-top: 10px;
            padding-bottom: 10px;
            line-height: 25px;
            color: #333;
        }

    	&:hover {
    		cursor: pointer;
        font-weight: bold;
        color: #333;

    	}

    	&.text-link:hover:after {
    		width: 100%;
    		z-index: 100;
    	}

      .link-out a {
        font-size: 14px;
        font-family: "work sans", sans-serif;
        color: black;
      }

      .footer {
        width: 100%;
        height: 20px;
        padding-bottom: 10px;
        margin: auto auto 0 auto;
      }

      .footer-content {
        width: 80%;
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        margin-bottom: 30px;
        border-top: 1px solid #E7E7E7;
      }


      .tiny-text {
        color: #979797;
        font-size: 12px;
        text-align: center;
        font-family: "work sans", sans-serif;
        padding: 10px 10px;
      }

      .copyright {
        color: #979797;
        font-size: 13px;
        text-align: center;
        font-family: "work sans", sans-serif;

      }






    }

    /* Animations
    ––––––––––––––––––––––––––––––––––––––––––––––––––*/

                /*=== Trigger  ===*/
                    .animate {
                     -webkit-animation-duration: 1s;
                     animation-duration: 1s;
                     -webkit-animation-fill-mode: both;
                     animation-fill-mode: both;
                    }

                /*=== Optional Delays, change values here  ===*/
                          .one {
                          -webkit-animation-delay: 0.4s;
                          -moz-animation-delay: 0.4s;
                          animation-delay: 0.4s;
                          }

                          .two {
                          -webkit-animation-delay: 0.8s;
                          -moz-animation-delay: 0.8s;
                          animation-delay: 0.8s;
                          }

                          .three {
                          -webkit-animation-delay: 2.0s;
                          -moz-animation-delay: 2.0s;
                          animation-delay: 2.0s;
                          }

                          .four {
                          -webkit-animation-delay: 2.7s;
                          -moz-animation-delay: 2.7s;
                          animation-delay: 2.7s;
                          }

                /*=== Animations start here  ===*/
                        /*=== FADE IN  ===*/
                        @-webkit-keyframes fadeIn {
                         from {
                           opacity: 0;
                         }

                         to {
                           opacity: 1;
                         }
                        }
                        @keyframes fadeIn {
                         from {
                           opacity: 0;
                         }

                         to {
                           opacity: 1;
                         }
                        }

                        .fadeIn {
                         -webkit-animation-name: fadeIn;
                         animation-name: fadeIn;
                        }


                /*=== FADE IN DOWN ===*/
                      @-webkit-keyframes fadeInDown {
                       from {
                         opacity: 0;
                         -webkit-transform: translate3d(0, -100%, 0);
                         transform: translate3d(0, -100%, 0);
                       }

                       to {
                         opacity: 1;
                         -webkit-transform: none;
                         transform: none;
                       }
                      }
                      @keyframes fadeInDown {
                       from {
                         opacity: 0;
                         -webkit-transform: translate3d(0, -100%, 0);
                         transform: translate3d(0, -100%, 0);
                       }

                       to {
                         opacity: 1;
                         -webkit-transform: none;
                         transform: none;
                       }
                      }

                      .fadeInDown {
                       -webkit-animation-name: fadeInDown;
                       animation-name: fadeInDown;
                      }



    /* Header
      ––––––––––––––––––––––––––––––––––––––––––––––––––*/


          .Topnav {
            background-color: black;
            height: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
          }
          .logo img {
            width: 30px;
            margin-top: 9px;
          }


    /* Navigation Menu
      ––––––––––––––––––––––––––––––––––––––––––––––––––*/

          .header {
            position: fixed;
            top: 0;
            z-index: 1;
            width: 100%;
          }

    /* Progress bar container
      ––––––––––––––––––––––––––––––––––––––––––––––––––*/
          .progress-container {
            width: 100%;
            height: 3px;
            background: #fff;
          }

    /* Progress bar scroll indicator
      ––––––––––––––––––––––––––––––––––––––––––––––––––*/
          .progress-bar {
            height: 3px;
            background: #FF5568;
            width: 0%;
          }



    /* Navigation Menu options
    ––––––––––––––––––––––––––––––––––––––––––––––––––*/
              .Navbar {
                margin-top: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'work sans',sans-serif;

              }
              .Navbar__Link a {
                max-width: 1200px;
                font-size: 14px;
                text-transform: uppercase;
                padding: 0 15px;
                color: #9B9B9B;
                text-decoration: none;
              }

              .Navbar__Items {
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding-top: 5px;
                margin-bottom: 30px;
                padding-right: 0;
                color: #656565;
                font-family: 'work sans', sans-serif;
              }

              .Navbar__Link-toggle {
                display: none;
              }

              .Navbar__Items a {
                color: #8C8C8C;

              }

              .Navbar__Items a:hover {
                color: #333;
                weight: 600;
              }


    /* Hamburger menu
    ––––––––––––––––––––––––––––––––––––––––––––––––––*/

              @media only screen and (max-width: 768px) {
                .Navbar__Items, .Navbar {
                  flex-direction: column;
                }

                .Navbar__Items {
                    display:none;
                  }

                .Navbar__Items--center {
                    margin-left: 0;
                  }
                .Navbar__ToggleShow {
                    display: flex;
                  }
                .Navbar__Link-toggle {
                    align-self: flex-end;
                    display: initial;
                    position: absolute;
                    cursor: pointer;
                   }
            }


            /* Section titles & subtitles
            ––––––––––––––––––––––––––––––––––––––––––––––––––*/
                          .section-title {
                            font-family: "work sans", sans-serif;
                            font-size: 22px;
                            font-weight: 600;
                            color: #19191A;
                            padding-top: 20px;
                            padding-bottom: 25px;
                          }

                          @media screen and (max-width: 900px) {
                              .section-title {
                                font-size: 22px;
                                }
                              }

                              @media screen and (max-width: 440px) {
                                .section-title {
                                  font-size: 22px;
                                }
                              }

                            .section-title-above {
                              text-transform: uppercase;
                              color: #9B9B9B;
                              font-family: "work sans", sans-serif;
                              font-size: 16px;
                              padding-top: 20px;
                            }


                           .section-subtitle {
                                font-family: "work sans", sans-serif;
                                font-size: 16px;
                                font-style: italic;;
                                font-weight: 400;
                                color: #333;
                                padding-top: 30px;
                                padding-bottom: 10px;
                                margin-bottom: 10px
                              }


                           .italic-subtitle {
                                  font-family: "work sans", sans-serif;
                                  font-size: 18px;
                                  font-style: italic;;
                                  font-weight: 400;
                                  color: #333;
                                  padding-bottom: 10px;
                                  margin-bottom: 10px
                              }



                  /* Project title
                –––––––––––––––––––––––––––––––––––––––––––––––––– */
                                        .project-title {
                                          padding-top: 50px;
                                          padding-bottom: 1em;
                                          font-family: "work sans", sans-serif;
                                          line-height: 45px;
                                          font-weight: 600;
                                          font-size: 38px;
                                          text-align: center;
                                          color: #333;
                                        }

                                                @media screen and (max-width: 900px){
                                                .project-title {
                                                    font-size: 36px;
                                                  }
                                                }

                                                @media screen and (max-width: 440px) {
                                                  .project-title {
                                                      font-size: 34px;
                                                      line-height: 40px;
                                                  }
                                                }

                /* body
              ––––––––––––––––––––––––––––––––––––––––––––––––––*/

                                          .body {
                                                font-family: "work sans", sans-serif;
                                                font-size: 16px;
                                                padding-top: 10px;
                                                padding-bottom: 30px;
                                                line-height: 28px;
                                                color: #333;
                                              }
                                                  @media screen and (max-width: 440px) {
                                                    .body {
                                                      font-size: 16px;
                                                      line-height: 28px;
                                                    }
                                                  }






      /* Special titles/quotes
      ––––––––––––––––––––––––––––––––––––––––––––––––––*/

                      .intro-quote {
                        font-family: 'Raleway', sans-serif;
                        font-size: 24px;
                        color: #4E47E0;
                        line-height: 32px;
                        font-style: italic;
                        font-weight: 400;
                        margin: 50px auto;
                        padding-bottom: 10px;
                      }
                      @media screen and (max-width: 440px) {
                        .intro-quote {
                          font-size: 20px;
                          line-height: 28px;
                        }
                        }


                              .center-title {
                                font-family: 'work sans', sans-serif;
                                font-size: 16px;
                                color: #333;
                                text-align: center;
                                margin: 0 auto;
                                line-height: 32px;
                                padding-top: 20px;
                              }

                                  @media screen and (max-width: 440px) {
                                    .center-title {
                                      font-size: 14px;
                                    }
                              }

                              .quote-container {
                                margin-bottom: 70px;
                              }


                              .user-quote {
                                font-family: 'Raleway', sans-serif;
                                font-size: 16px;
                                font-style: italic;
                                color: #404041;
                                text-align: center;
                                line-height: 28px;
                                padding-top: 30px;
                                padding-right: 60px;
                                padding-left: 50px;
                              }

                              @media screen and (max-width: 440px) {
                                .user-quote {
                                  padding-left: 5px;
                                  padding-right: 5px;
                                }
                              }


                              .title7 {
                                font-family: 'work sans', sans-serif;
                                font-size: 16px;
                                font-weight: 600;
                                color: #5525C4;
                                line-height: 24px;
                                text-align: center;
                                margin: 0 auto;
                                padding-left: 20px;
                                padding-right: 20px;
                              }

                               .line-break {
                                border-top: 1px solid #5525C4;
                                width: 80px;
                                margin-right: auto;
                                margin: 20px auto;
                              }

                            @media screen and (max-width: 440px) {
                                .line-break {
                                 margin: 5px auto;
                               }
                              }


    /* Case Study Container
      –––––––––––––––––––––––––––––––––––––––––––––––––– */

                .main-container {
                  max-width: 1100px;
                  margin: 0 auto;
                  padding: 0 6%;
                }


                 .content-container {
                  display: flex;
                  align-items: flex-start;
                  flex-direction: column;
                  justify-content: flex-start;
                  max-width: 680px;
                  margin: 0 auto;
                }

                    @media screen and (max-width: 1000px) {
                      .content-container {
                        display: block;
                        padding: 0px 20px;
                      }
                    }
                    @media screen and (max-width: 440px) {
                      .content-container {
                        display: block;
                        padding: 0px 20px;
                      }
                }


  /* Cover Photo
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

                                .cover-photo-container {
                                    flex-basis: 50%;
                                    flex-shrink: 0;
                                    overflow: hidden;
                                    position: relative;
                                    margin: 20px auto;
                                    border: 1px solid white;
                                }
                                .cover-photo-container img {
                                  position: relative;
                                  object-fit: cover;
                                  width: 100%;
                                  height: 100%;
                                }


                                @media screen and (min-width: 440px) {
                                    .cover-photo-mobile img  {
                                    display: none;
                                  }
                                }

                                @media screen and (max-width: 900px) {
                                    .cover-photo-container {
                                      flex-direction: column;
                                      height: 50%;
                                      }
                                    }
                                @media screen and (max-width: 900px) {
                                    .cover-photo-container img {
                                      flex-direction: column;
                                      height: 300px;

                                      }
                                    }
                                  @media screen and (max-width: 440px) {
                                    .cover-photo-container img  {
                                      display: none;
                                    }
                                  }
                                  @media screen and (max-width: 440px) {
                                    .cover-photo-mobile img  {
                                    display: inline-block;
                                    width: 100%;
                                    }
                                  }





  /* Links
  ––––––––––––––––––––––––––––––––––––––––––––––––––*/
            .protolink {
              padding-top: 3em;
              display: block;
              margin: 0 auto;
              font-family: "work sans", sans-serif;
              font-size: 14px;
              text-decoration: underline;
              text-align: center;
              margin-bottom: 30px;
            }



            .protolink a {
              color: #333;
              text-decoration: underline;
            }

              .protolink a:hover {
                color:  #252424;
                font-weight: 600;
              }

  }




/* Lists
––––––––––––––––––––––––––––––––––––––––––––––––––*/

        ul {
            list-style-type: circle;
            margin-right: 10px;
            padding-right: 30px;
            padding-left: 70px;
            margin-bottom: 60px;
        }

        @media screen and (max-width: 440px) {
          ul  {
              padding-left: 20px;
           }
          }


  /* Unordered Lists
  –––––––––––––––––––––––––––––––––––––––––––––––––*/

            li {
              font-family: 'work sans', sans-serif;
              font-size: 16px;
              font-weight: 400;
              color: #333;
              margin: 15px auto;
              line-height: 24px;
            }

            @media screen and (max-width: 440px) {
              li  {
                font-size: 14px;
               }
              }

            ul li .bolder {
              font-weight: 600;

            }



  /* Thought
  ––––––––––––––––––––––––––––––––––––––––––––––––––*/

                .thought-container {
                  background-color: #4E47E0;
                  background-size: cover;
                  -webkit-background-size: cover;
                   -moz-background-size: cover;
                   -o-background-size: cover;
                  height: 380px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-top: 30px;
                  margin-bottom: 40px;
                }



                @media screen and (max-width: 440px) {
                .thought-container  {
                    height: 280px;
                  }
                }

                .thought {
                  font-family: 'work sans', sans-serif;
                  font-size: 28px;
                  text-align: center;
                  width: 600px;
                  color: #fff;
                  line-height: 32px;
                  font-style: italic;
                  font-weight: 500;
                  padding-top: 60px;
                  padding-bottom: 50px;
                  margin: 0 auto;
                }


                @media screen and (max-width: 540px) {
                .thought {
                  padding-left: 15px;
                  padding-right: 15px;
                  }
                }
                @media screen and (max-width: 440px) {
                .thought  {
                  font-size: 24px;
                  line-height: 28px;
                  padding-left: 15px;
                  padding-right: 15px;

                  }
                }


      .user-quote {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-style: italic;
        color: #4E47E0;
        text-align: center;
        line-height: 28px;
        padding-top: 50px;
        padding-right: 60px;
        padding-left: 50px;
      }

      @media screen and (max-width: 440px) {
        .user-quote {
          padding-left: 0px;
          padding-right: 0px;
        }
      }



        .title7 {
          font-family: 'work sans', sans-serif;
          font-size: 16px;
          font-weight: 600;
          color: #4E47E0;
          line-height: 24px;
          text-align: center;
          margin: 0 auto;
          padding-left: 20px;
          padding-right: 20px;
        }

        .title6 {
          font-family: 'work sans', sans-serif;
          font-size: 16px;
          color: #333;
          margin-top: 20px;
          margin-bottom: 50px;
          line-height: 24px;
          text-align: center;
          padding-left: 20px;
          padding-right: 20px;
        }
        @media screen and (max-width: 440px) {
          .title6 {
            font-size: 14px;
          }
        }

        .line-break {
          display: block;
          height: 1px;
          border: 0;
          border-top: 1px solid #463A8F;
          align-content: center;
          padding: 0;
          width: 75px;
        }

        hr {
            unicode-bidi: isolate;
            -webkit-margin-before: 0.5em;
            -webkit-margin-after: 0.5em;
            -webkit-margin-start: auto;
            -webkit-margin-end: auto;
            overflow: hidden;
            margin-top: 3rem;
            margin-bottom: 1rem;
            border-width: 0;
        }

        .body a:hover {
          font-weight: 600;
        }

        /* Project Assets
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
                .image-container {
                  max-width: 800px;
                  display: flex;
                  justify-content: center;
                  flex-direction: column;
                  margin: 0px auto;
                  /*box-shadow: 0px 0px 7px 1px #E9E8E8;
                  border-radius: 8px;*/
                  object-fit: contain;

                }
                .image-container img {
                  object-fit: contain;
                  width: 100%;
                }

                @media screen and (max-width: 650px) {
                  .image-container  {
                    display: none;
                  }
                  .image-container img  {
                    display: none;
                  }
                }



             .image-mobile {
               /*box-shadow: 0px 0px 7px 1px #E9E8E8;
               border-radius: 8px;*/
                margin-bottom: 10px;
                object-fit: contain;
                width: 100%;

             }
                @media screen and (min-width: 650px) {
                    .image-mobile img  {
                    display: none;
                  }
                }


.line-break2 {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #4E47E0;
  align-content: center;
  padding: 0;
  width: 75px;
}

.small-text {
  font-family: 'work sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin: 15px auto;
  line-height: 24px;
}

/*FOOTER
––––––––––––––––––––––––––––––––––––––––––––––––––*/

      .footer {
        width: 100%;
        height: 20px;
        padding-bottom: 10px;
        margin: auto auto 0 auto;
      }

      .footer-content {
        width: 80%
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        margin-bottom: 30px;
        border-top: 1px solid #E7E7E7;
      }


      .tiny-text {
        color: #979797;
        font-size: 12px;
        text-align: center;
        font-family: "work sans", sans-serif;
        padding: 10px 10px;
      }

      .copyright {
        color: #979797;
        font-size: 13px;
        text-align: center;
        font-family: "work sans", sans-serif;

      }
