*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

*, html {
  -webkit-font-smoothing: antialiased; }

  p {
    padding-bottom: 15px;
  }

  a {
  	font-weight: 400;
  	text-decoration: none;
  	color: #5049E7;
  	position: relative;
  	transition: color 0.3s ease;
  }

  	&:hover {
  		text-decoration: none;
  		cursor: pointer;
      font-weight: bold;
      color: #333;

  	}

  	&.text-link:hover:after {
  		width: 100%;
  		z-index: 100;
  	}
}




/*NAVIGATION*/


.header {
  background-color: black;
  width: 100%;
}
.Navbar {
  background-color: black;
  width: 100%;
  display: flex;
  padding: 16px;
  font-family: 'karla',sans-serif;
  color: white;
}
.Navbar__Link {
  max-width: 1200px;
  padding: 0 15px;
}
.Navbar__Link-logo {
  width: 50px;
  margin-left: 0;
}
.Navbar__Link-logo img {
  width: 50px;
  margin-left: 0px;
}
.Navbar__Items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5px;
  padding-right: 6%;
}

.Navbar__Link-toggle {
  display: none;
}

.Navbar__Items--right {
  margin-left: auto;
}


.Navbar__Items a {
  color: #F2F3F5;
}

.Navbar__Items a:hover {
  color: #A0A9FF;
}


@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }

.Navbar__Items {
    display:none;
  }
.Navbar__Items--right {
    margin-left: 0;
  }
.Navbar__ToggleShow {
    display: flex;
  }
.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   }
}



/* CASE STUDY */

.content-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 680px;
  margin: 0 auto;
}

.project-title {
  padding-top: 2.5em;
  padding-bottom: 1em;
  font-family: "karla", sans-serif;
  line-height: 52px;
  font-size: 45px;
  font-weight: bolder;
  text-align: left;
  color: #19191A;
}

.project-title .lighter-color {
  padding-top: 3em;
  font-family: "karla", sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-align: left;
  color: #9B9B9B;
}
.project-title {
  padding-top: 2.5em;
  padding-bottom: 1em;
  font-family: "karla", sans-serif;
  line-height: 52px;
  font-size: 45px;
  font-weight: bolder;
  text-align: left;
  color: #19191A;
}

.project-title .lighter-color {
  padding-top: 3em;
  font-family: "karla", sans-serif;
  font-size: 45px;
  line-height: 52px;
  font-weight: 600;
  text-align: left;
  color: #CDCDCD;
}
.content-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 680px;
  margin: 0 auto;
}



.title3 {
  font-family: "karla", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #333;
  padding-top: 30px;
  padding-bottom: 25px;
}

.title3 .lighter-color {
  font-family: "karla", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #CDCDCD;
  padding-bottom: 30px;

}

.intro-text {
  padding-top: 2em;
  font-family: "karla", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
  text-align: left;
  color: #646466;
}


.body {
  font-family: "karla", sans-serif;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 30px;
  line-height: 24px;
  color: #646466;
}



.protolink {
  padding-top: 4em;
  font-family: "karla", sans-serif;
  font-size: 16px;
  text-decoration: none;
  text-align: left;
  margin-bottom: 20px;
}


.protolink:hover {
  text-decoration: underline;
}
a.text-link:after {
    content: '';
    display: block;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    border-bottom: 1px solid #4555E6;
    transition: 0.4s ease;
}

.cover-photo-container {
    flex-basis: 50%;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
    border: 1px solid white;
}
.cover-photo-container img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 900px) {
    .image-container {
      flex-direction: column;
      height: 50%;

      }
    }
  @media screen and (max-width: 440px) {
    .image-container {
      margin-bottom: 60px; } }
/*add media query*/

.intro-quote {
  font-family: 'karla', sans-serif;
  font-size: 28px;
  color: #5C5C5D;
  line-height: 36px;
  font-style: italic;
  font-weight: lighter;
  margin: 30px auto;
}

.process-img img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.process-img {
  margin-bottom: 40px;
}


.title4 {
  font-family: "karla", sans-serif;
  font-size: 22px;
  font-style: italic;;
  font-weight: 400;
  color: #333;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 10px
}

ul {
    list-style-type: circle;
    margin-right: 10px;
    padding-right: 30px;
    padding-left: 40px;
    margin-bottom: 50px;
}

.thought {
  font-family: 'karla', sans-serif;
  font-size: 24px;
  text-align: center;
  color: #7771F4;
  line-height: 32px;
  padding-top: 20px;
  padding-right: 60px;
  padding-left: 50px;
  font-style: italic;
  font-weight: lighter;
  margin: 30px auto;
}

.title5 {
  font-family: 'karla', sans-serif;
  font-size: 16px;
  color: #7D7D7D;
  text-align: center;
  line-height: 32px;
  padding-top: 20px;
  padding-right: 60px;
  padding-left: 50px;
}


.user-quote {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-style: italic;
  color: #7D7D7D;
  text-align: center;
  line-height: 28px;
  padding-top: 60px;
  padding-right: 60px;
  padding-left: 50px;
}

.line-break {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #4E47E0;
  align-content: center;
  padding: 0;
  width: 75px;
}

hr {
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    margin-top: 3rem;
    margin-bottom: 1rem;
    border-width: 0;
}

.personas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}
.personas img {
  padding-right: 15px;
  width: 450px;
}

@media screen and (max-width: 900px) {
    .personas {
      flex-direction: column;
      height: 50%;
      justify-content: center;

      }
    }
  @media screen and (max-width: 440px) {
    .personas {
      margin-bottom: 60px; } }
