


*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

*, html {
  -webkit-font-smoothing: antialiased; }

  p {
    padding-bottom: 15px;
  }

  a {
  	font-weight: 400;
  	text-decoration: none;
  	color: #5049E7;
  	position: relative;
  	transition: color 0.3s ease;

  	&.text-link:after {
  		content: '';
  		display: block;
  		color: white;
  		position: absolute;
  		bottom: 0px;
  		left: 0;
  		width: 0%;
  		border-bottom: 1px solid #4E47E0;
  		transition: 0.4s ease;
  	}

  	&:hover {
  		text-decoration: none;
  		cursor: pointer;
  	}

  	&.text-link:hover:after {
  		width: 100%;
  		z-index: 100;
  	}
}




/*NAVIGATION*/

.topnav {
  background-color: black;
  height: 72px;
  overflow: hidden;
}


.topnav img {
  width: 55px;
  float: left;
  padding-top: 18px;
}

.topnav .links {
  float: right;
  margin: 0 auto;
  padding-top: 10px;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    font-family: 'karla', sans-serif;
    font-size: 16px;
}

.topnav .links a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'karla', sans-serif;
    font-size: 16px;
}

.topnav a:hover {
    color: #808BF9;
    font-weight: bold;
}
.active {
    font-weight: bold;
    color: white;
}

.topnav .links .icon {
    display: none;
}

@media screen and (max-width: 600px) {
  .topnav .links a {
    display: none;
  }
  .topnav .links a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.links.responsive a {position: relative;}
  .links.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.links.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*.primary-nav {
 background-color: #000;
 height: 70px;
}

.logo {
  display: block;
}

.logo img {
 display: block;
 float: left;
 width: 60px;
}

 .nav-items {
  float: right;
  display: flex;
  justify-content: flex-end;
    margin: 0 auto;
}


nav ul li {
 display: inline-block;
 padding: 0 3em 0 0;
 font-size: 0.9em;
}

nav ul li a {
 text-decoration: none;
 color: #fff;
 font-size: 16px;
 font-weight: regular;
 font-family: 'karla', sans-serif;
}

li a:hover {
color: #A0A9FF;
font-weight: bold;
text-decoration: none;
}

li a.active {
 color: #19191A;
 font-weight: bold;
}
*/



/*INTRO*/

.hero {
  height: 550px;
}


.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 6%;
}

.title1 {
 padding-top: 1em;
 margin-top: 50px;
 margin-bottom: 50px;
 text-align: left;
 font-weight: 600;
 font-size: 55px;
 font-family: 'karla', sans-serif;
 color: #19191A;
}

.title1 .special-shade {
  color: #CDCDCD;
}

.title2 {
 font-size: 20px;
 margin-bottom: 6px;
 font-weight: bold;
 font-family: 'karla', sans-serif;
 color: #19191A;
 text-align: left;

}

.blurb {
 font-size: 20px;
 font-weight: 100;
 margin-bottom: 40px;
 font-family: 'karla', sans-serif;
 color: #666566;
 text-align: left;
 line-height: 30px;
 max-width: 730px;
}

.social-buttons {
  display: flex;
  flex-direction: row;
  max-width: 10px;
  border: 1px solid red;
}

.social-buttons a img {
    max-width: 50px;

}






/*WORK*/

.break {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 40px;
    margin-top: 30px;
    font-family: 'karla', sans-serif;
    color: #666566;
    text-align: left;
}

.break .second-color {
  color: black;
}


.work {
display: flex;
flex-direction: column;
background-color: #F4F4F4;
padding: 10px 10px;

}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 6%;
}

.section-header {
  margin-bottom: 60px;
  font-size: 30px;
  text-align: center;
}


.project-container {
    position: relative;
    display: flex;
    flex-grow: 1;
    height: 380px;
    width: 100%;
    margin-bottom: 80px;
    transition: all 0.4s ease;
}


.project-container:hover {
  box-shadow: 0 10px 20px #E4E5E7;
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

@media screen and (max-width: 900px) {
    .project-container {
      flex-direction: column;
      height: 100%; } }
  @media screen and (max-width: 440px) {
    .project-container {
      margin-bottom: 60px; }
    }

.project-container .project-preview {
    flex-basis: 50%;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
}

.project-container .project-preview img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 900px) {
        .project-container .project-preview {
          padding-top: 58.62069%;
          height: 0; }
        }
      .project-container .project-preview img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
        @media screen and (max-width: 900px) {
          .project-container .project-preview img {
            top: 0;
            left: 0; }
    }

  .project-container .project-details {
      font-family: "karla", sans-serif;
      background-color: white;
      padding: 40px;
      box-sizing: border-box;
  }

  .project-container .project-details .metadata {
    font-family: "karla", sans-serif;
    color: #7D7D80;
    font-size: 13px;
    text-align: left;
    letter-spacing: 1px;
    margin-bottom: 56px;
}

  .project-container .project-details .title {
      color: #19191A;
      font-size: 28px;
      line-height: 1.2;
      font-weight: 600;
      text-align: left;
      margin-bottom: 3px;
  }

.project-container .project-details .subtitle {
      color: #646466;
      font-family: "karla", sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 24px;
      text-align: left;
}

.project-container .project-details .body {
    color: #646466;
    font-family: "karla", sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
}

/*CONNECT*/


.connect {
  background-color: #ffff;
  padding: 80px 10px;
}
.section-title {
  font-family: "karla", sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

.tagline1 {
  font-family: "karla", sans-serif;
  font-size: 18px;
  text-align: center;
  color: #646466;
  padding-bottom: 10px;
}

.tagline2 {
  font-family: "karla", sans-serif;
  font-size: 18px;
  text-align: center;
  color: #7D7D80;
}

.footer {
  width: 100%;
  margin: auto;
  padding: 40px 0px;
}

.footer-content {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  margin-bottom: 20px;
  border: 1px solid white;
}

.footer-content .social {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  border: 1px solid white;
}


.social img {
height: auto;
width: auto;
max-height: 60px;
max-width: 60px;
margin: 5px 5px;
}



.tiny-text {
  color: #979797;
  font-size: 12px;
  text-align: center;
  font-family: "karla", sans-serif;
  padding: 10px 10px;
}



/*ABOUT*/

.img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 900px;
  height: 320px;
  margin: auto;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  border: 1px solid white;
}

 .img-container img-item {
   display: flex;
   flex-direction: row;
   align-items: center;
}

  .img-item img {
    min-width: 0;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 5px solid white;
  }

  .img {
    width: 100%;
    height: 100%;
  }

.about-section {
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  font-family: karla;
  color: #333;
}

.title3 {
  font-family: "karla", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #333;
  padding-top: 30px;
  padding-bottom: 25px;
}

.title3 .lighter-color {
  font-family: "karla", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #CDCDCD;
  padding-bottom: 30px;

}


.body {
  font-family: "karla", sans-serif;
  font-size: 16px;
  padding-bottom: 30px;
  line-height: 24px;
  color: #646466;
}

/* CASE STUDY */

.content-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 650px;
  margin: 0 auto;
}

.project-title {
  padding-top: 3em;
  padding-bottom: 2em;
  font-family: "karla", sans-serif;
  line-height: 52px;
  font-size: 32px;
  font-weight: bolder;
  text-align: left;
  color: #19191A;
}

.project-title .lighter-color {
  padding-top: 3em;
  font-family: "karla", sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-align: left;
  color: #9B9B9B;
}

.intro-text {
  padding-top: 2em;
  font-family: "karla", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
  text-align: left;
  color: #646466;
}

.protolink {
  padding-top: 4em;
  font-family: "karla", sans-serif;
  font-size: 16px;
  text-decoration: none;
  text-align: left;
  margin-bottom: 20px;
}


.protolink:hover {
  text-decoration: underline;
}
a.text-link:after {
    content: '';
    display: block;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    border-bottom: 1px solid #4555E6;
    transition: 0.4s ease;
}

.cover-photo-container {
    flex-basis: 50%;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
    border: 1px solid white;
}
.cover-photo-container img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 900px) {
    .image-container {
      flex-direction: column;
      height: 50%;

      }
    }
  @media screen and (max-width: 440px) {
    .image-container {
      margin-bottom: 60px; } }
/*add media query*/

.intro-quote {
  font-family: 'karla', sans-serif;
  font-size: 28px;
  color: #5C5C5D;
  line-height: 36px;
  font-style: italic;
  font-weight: lighter;
  margin: 30px auto;
}

.process-img img{
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
