/* Main Document Styling
––––––––––––––––––––––––––––––––––––––––––––––––––*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
   *, html {
     -webkit-font-smoothing: antialiased;
    }


p {
    margin: 15px 0;
}

body {
    font-family: 'work sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0;
    color: #272727;
    
}

.break-stat {
    margin-left: 32px;
    margin-bottom: 32px;
    max-width: 640px;
}

p .break-stat p {
 margin-top: -4px;
}

.break-stat ul li {
    color: #6F7D91;
    font-size: 14px;
    padding-top: 0px

}
.definition {
    max-width: 600px;
}

.help-text {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    font-style: italic;
    max-width: 640px;
}


/* light and dark mode
body { background: white; }
h1 { color: black; }
p { color: black; }
@media only screen and (prefers-color-scheme: dark) {
  body { background: black; }
  h1 { color: orangered; }
  p { color: white; }
}
*/
/* Layout Grid Styles */


.main-container {
    max-width: 1106px;
    margin: 0 auto;
    padding: 2% 4%;
    width: 90%;
    }

/* Assets */

.motif {
    border-radius: 12px 12px 0px 0px; 
}

img {
    width: 100%;
}

.prototype {
    overflow: hidden;
}

@media all and (max-width: 600px) {
    .prototype {
        display: none;
    }
}
/* Hero styles */

.hero-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "image"
                         "text";
    grid-gap: 32px;
    margin-top: 100px;
    padding-top: 32px;
}

@media all and (min-width: 600px) {
    .hero-container {
        display: grid;

        grid-template-columns: 1.6fr 1fr;
        grid-template-areas: "text image";
    }
}

@media all and (max-width: 600px) {
    .hero-container {
        padding-top: 0px;
        margin-top: 54px;
    }
}
section {
    padding: 20px 0;
}

.container > div {
    background-color: #ffffff;
    padding: 32px;
  }

.hero-blurb {
    width: 100%;
    grid-area: text;
}

.hero-blurb a {
    padding: 16px 0;
    font-family: 'work sans', sans-serif;
    font-style: normal;
    font-weight: 300px;
    font-size: 20px;
    line-height: 155%;
    letter-spacing: -0.02em;
    color: #6D747E;
    margin-bottom: 30px;

}
@media all and (max-width: 600px) {
    .hero-blurb h1 {
        font-size: 24px;
        line-height: 155%;
    }
}

.hero-avatar {
    grid-area: image;
    margin: 0 auto;
}

.hero-avatar img {
    width: 100%;
}

@media all and (max-width: 768px) {
    .hero-avatar {
     display: none;
    }
}

@media all and (max-width: 768px) {
    .main-container {
    margin: 16px auto;
    padding-bottom: 0px;
    width: 90%;
    }
}



    

/* project preview  */

.project-container {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    align-items: flex-start;
}


@media all and (min-width: 600px) {
    .project-container {
        grid-template-columns: 1fr 1fr;
    }
}



.project-card {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #E8EBEB;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 32px; 
    border-radius: 12px 12px 0px 0px; 
}


@media screen and (max-width: 440px) {
    .project-card {
          margin-bottom: 16px;
      }
  }

  .project-preview {
    display: flex;
    justify-content: flex-start;
    border-radius: 16px 16px 0px 0px; 
}

  
.project-preview img {
    width: 100%;
    object-fit: cover;
    height: 320px;
    border-radius: 12px 12px 0px 0px; 
}

@media screen and (max-width: 880px) {
    .project-preview img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
  }


.project-details {
    padding: 32px;
}

.project-details h2 {
    padding-bottom: 16px;
}

@media screen and (max-width: 440px) {
    .project-details h2 {
        font-size: 32px;
        line-height: 40px;
        padding-bottom: 4px;
      }
  }

.project-details p {
    margin-bottom: 54px;
    line-height: 24px;
}

.project-details a {
    text-decoration: none;
}


.case-study-btn, .case-study-btn.two, .case-study-btn.three {
    box-sizing: border-box;
    padding: px;
    background-color: white;
    box-shadow: 0px 1px 0px #272727;
    width: 140px;
      
}

.case-study-btn:hover, .case-study-btn.two:hover, .case-study-btn.three:hover {
    background-color: #ECEEFE;
    box-shadow: 0px 1px 0px #272727;
      
}

case-study-btn a, case-study-btn.two a, case-study-btn.three a {
    padding-right: 2px;
}

.case-study-btn.two:hover {
    background-color: #E2F9F5;
}

.case-study-btn.three:hover {
    background-color: #FFE6DF;
}
.about-list {
    margin-right: 100px;
}

@media (max-width: 768px) {
    .about-list {
        margin-right: 0px;
}
}
.about-list ul {
    margin-bottom: 20px;
}
.about-list a {
    font-family: 'work sans', sans-serif;
    color: #6D747E;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0em;
    text-transform: none;
    text-decoration: underline;
    padding-left: 0px;
    cursor: default;

}

.about-list li {
    font-family: 'work sans', sans-serif;
    color: #272727;
    font-weight: 400;
    font-size: 20px;
}

.perpective li {
    margin-top: 32px;
    font-size: 10px;
}


 a {
    font-family: 'work sans', sans-serif;
    color: #272727;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-decoration: underline;
    cursor: default;
}

a:hover {
    text-decoration: none;
}

.stats  {
    list-style-type: none;
}

ul.stats {
    padding-left: 0px;
}
 .stats li {
    margin-top: 10px;
    border-bottom: 1px solid #C9D0D3;
}


.jump-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 80px;
}

.jump-links a {
  text-decoration: none;
}

@media all and (max-width: 1000px) {
    .jump-links {
        display: none;
    }
}

.jump-link-btn, .jump-link-btn.two, .jump-link-btn.three .jump-link-btn.four{
    box-sizing: border-box;
    margin-right: 5x;
    padding: 4px;
    background-color: white;
    box-shadow: 0px 1px 0px #272727;
    width: 200px;
     
}

.jump-link-btn:hover {
    background-color: #E2F9F5;
}

.jump-link-btn.two:hover {
    background-color: #ECF6FE;
}

.jump-link-btn.four:hover {
    background-color: #ECEEFE;
}

.jump-link-btn.three:hover {
    background-color: #FFE6DF;
}

.jump-link-btn.a {
    padding: 8px 0px;
}


/* Lists */

.about-list ul {
    list-style-position: outside;
    list-style-image: url(https://url-to-image);
    padding-left: 32px;
}

.about-list ul li {
    font-family: 'work sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 155%;
    letter-spacing: 0;
    color: #272727;
    margin-bottom: 5px;
}
ul {
    list-style-position: outside;
    list-style-image: url(https://url-to-image);
    padding-left: 32px;
}

ul li {
    font-family: 'work sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #272727;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    ul li {
        font-size: 16px;
    } 
}



h1 {
    font-family: 'work sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 62px;
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    color: #272727;
    margin-bottom: 5px;
    margin-top: 16px;
}


h2 {
    font-family: 'work sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: -0.02em;
    color: #272727;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #272727;
    margin-bottom: 16px;
}

h4 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #272727;
    margin-bottom: 16px;
}


h5 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #272727;
    margin-bottom: 10x;
}


.blurb {
    padding: 16px 0;
    font-family: 'work sans', sans-serif;
    font-weight: 400px;
    font-size: 20px;
    line-height: 155%;
    letter-spacing: 0;
    color: #272727;
    /*
    color: #6D747E;*/
    margin-bottom: 30px;
}


@media all and (max-width: 600px) {
    .blurb {
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}

img.gif {
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.2);
    margin-left: 24px;
}

@media all and (max-width: 600px) {
    img.gif {
    margin-left: 0px;
    }
}

.box {
    background-color:white;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 60px;
    padding: 20px 0;
}

.box img {
    width: 85%;
}

@media all and (max-width: 600px) {
    .box img {
        width: 100%;
        height: 100%;
    }
    .box {
        margin-bottom: 0px;
    }
}

.ab-margin {
    margin-bottom: 50px;
}

.quote-row {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}


.quote1, .quote2, .quote3 {
    margin-right: 42px;

    max-width: 640px;
}
.quote-row .quote1, .quote2,  .quote3 {
    font-size: 16x;
    line-height: 28px;
    font-style: italic;
    font-family: 'work sans', sans-serif;
    color: #535E6D;
}



.user-quote {
    font-size: 24px;
    line-height: 32px;
    font-style: italic;
    font-family: 'work sans', sans-serif;
    color: #535E6D;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.gif img {
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.2);
}

.iterate {
 display: flex;
 flex-direction: column;
 justify-content: center;
 overflow: hidden;
}

.iterate img {
    padding-bottom: 10px;
}


.test-stats {
    background-color: white;
    /* box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.2); */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-bottom: 60px; */
    padding: 50px 40px;
}
 

.test-asset-ts img {
 width: 60%;
}

@media all and (max-width: 768px) {
    .test-asset-ts img {
     width: 100%;
    }
}

.test-assets-container {
    display: flex;
    justify-content: flex-start;
}

.test-assets-container img {
   width: 100%;
   box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.2);
 }



 @media all and (max-width: 768px) {
 .responsive img {
  display: none;
 }
}

 .painpoint {
    background-color: white;
    /* box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.2); */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-bottom: 60px; */
    padding: 50px 40px;
}

 .control-asset {
   padding: 0px 16px;
   text-align: center;
 }

 .test-asset {
    padding: 0px 16px;
    text-align: center;
  }


  @media all and (max-width: 768px) {
    .test-assets-container {
        display: none;
    }

    .test-stats {
        display: none;
    }
}



.icon  {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCEFE0;
    border-radius: 20%;
  }

.icon.two {
    background-color: #ECEEFE;
}

.test-stats p {
    margin: 4px 0px;
}

.status {
    margin-bottom: 8px;
}
.fa-li {
  margin-top: 2px;
}

.status {
   padding: 5px 0px; 
}

.callout-text {
 font-size: 14px;
 line-height: 20px;
}

.call-out {
    display: flex;
    align-items: center;
}

.call-out-chart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hidden-default {
    background-color: #fff;
    display: none;
    position: absolute;
    padding: 12px; 
    top: 30%;
    left: 10%;
    width: 80%;
    opacity: 0;
}

.call-out-chart:hover .hidden-default {
    display: block;
    background: rgba(255,255,255, 1);
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.2);
    transition: opacity .5s ease-out;
    opacity: 1;
}

@media all and (max-width: 800px) {
    .call-out-chart:hover .hidden-default {
        display: none;
    }

}



.product h3 {
    position: absolute;
    display: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    transition: all 0.5s ease;
} 

.product:hover h3 {
    display: block;
    color: #fff;
}




.tiny {
    font-family: 'work sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #272727;

}
.motif {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
}
.motif img {
    width: 100px;
}

hr {
    border: .4px solid;
    color: #D8DCE1;
    width: 100%;
    margin: 40px auto;
 }


.caption {
    font-family: 'work sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #6F7D91;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 8px;
}

.caption2 {
    font-family: 'work sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #6F7D91;
    margin: 0 auto;
    padding-top: 12x;
    padding-bottom: 12px;
}

 .data-btn {
    font-family: 'work sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #25877C;
 }

 .data-btn1 {
    font-family: 'work sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #2376D7;
 }

 .data-btn2 {
    font-family: 'work sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #5C62E6;
 }


 .data-btn3 {
    font-family: 'work sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #DD491A;
 }


.quote {
    font-family: 'work sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #6D787E;
}


/* Card Styles */
.card {
    background: #FFFFFF;
    border: 1px solid #EBECEE;
    box-sizing: border-box;
    /* Image Shadow */
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
}

/* Buttons */

.contact {
    display: flex;
    flex-wrap: nowrap;
}

.contact a {
    color: #6D787E;
    font-family: 'work sans', sans-serif;
    font-size: 18px;
    font-weight: 400px;

   
}

@media all and (max-width: 600px) {
    .contact {
        display: none;
    }
}

.button {
  box-sizing: border-box;
  margin-right: 10px;
  padding: 4px 0px;
}

.button:hover {
    text-decoration: none;
    color: white;
    background-color: #e96450;
    cursor: ne-resize;
}
.button.Linkedin:hover {
    background-color:#6978EF;
  }
    
  .button.Medium:hover {
    background-color: #3EB2A4;
  }
  
  




/* Footer Styles */ 

.footer {
    width: 100vw;
    height: 350px;
    padding-top: 70px;
    margin-top: 32px;
    background: #F5F5F5;
}

.footer-content {
    display: flex;
    justify-content: center;
}



.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-bottom .contact {
    padding-top: 54px;
}
.tiny-text {
    font-family: 'work sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding-top: 54px;
    /* Dark Grey */
    color: #6D787E;
} 

    @media all and (max-width: 600px) {
        .tiny-text {
            font-size: 12px;
            line-height: 20px;
            padding-top: 32px;
        }
    
    }

/* Case Study Grid */

.fullbleed-bg {
    background-color: #F8F9FA; 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.fullbleed-bg img {
    padding-left: 16px;
    padding-right: 16px;
    
}
.fullbleed-bg-blue {
    background-color: #4252D8; 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.fullbleed-bg-blue10 {
    background-color: #EBEFF9; 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.fullbleed-bg-blue .twoCol-left {
    padding-bottom: 0;
}



        .projectcontainer {
            margin: 0 auto;
            width: 50%;
        }

        .margin-100 {
            margin-bottom: 100px;
        }

        .twoCol-left {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 10px;
            padding-bottom: 32px;
        }
        
        .handy-intro {
            grid-gap: 100px;
        }

        .handy-intro {
            grid-gap: 80px;
        }


        .twoCol-right {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-gap: 20px;
        }

        .twoCol-center {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }

        @media (max-width: 768px) {
            .container {
                background-color: #0D5C00;
                margin: 0 auto;
                width: 80%;
            }
        }

        @media (max-width: 530px) {
            .container {
                margin: 0 auto;
                width: 95%;
            }

            .twoCol-left, .twoCol-right, .twoCol-center {
                grid-template-columns: 1fr;
            }
        }
        @media (max-width: 768px) {
            .twoCol-left, .twoCol-right, .twoCol-center {
                grid-gap: 16px;
                margin-bottom: 12px;
                padding-bottom: 16px;
            }
        }


/* Overlays */



/*Project Assets */

.fullbleed-section-photo {
    padding-top: 5px;
    padding-bottom: 60px;
} 


.fullbleed-section-photo img {
    width: 100%;
} 

        .cover-photo-container {
            margin-top: 0px;
            padding-left: 0px;
           
        } 

        .cover-photo-container img {
            height: 100%;
                object-fit: cover;
        } 

        @media all and (max-width: 600px) {
            .cover-photo-container img {
                height: 100%;
                object-fit: cover;
            }
        }

        .heroproj-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 32px;
            margin-top: 20px;
        }
        
        @media all and (min-width: 600px) {
            .hero-container {
                display: grid;
        
                grid-template-columns: 2fr 1fr;
                /*grid-template-areas: "text image";*/
            }
        }

   /* style.next {
    
    }*/