/* Main Document Styling
––––––––––––––––––––––––––––––––––––––––––––––––––*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
   *, html {
     -webkit-font-smoothing: antialiased;
    }

p {
    margin: 15px 0;
}

body {
    font-family: 'work sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #272727;
}

/* Layout Grid Styles */
.main-container {
    margin: 1rem auto;
    width: 80%;
}

/* Assets */

img {
    width: 100%;
}



/* Hero styles */

.hero-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "image"
                         "text";
    grid-gap: 32px;
    padding-top: 150px;
    margin-top: 20px;
}

@media all and (min-width: 600px) {
    .hero-container {
        display: grid;

        grid-template-columns: 1.6fr 1fr;
        grid-template-areas: "text image";
    }
}

section {
    padding: 20px 0;
}

.container > div {
    background-color: #ffffff;
    padding: 32px;
  }

.hero-blurb {
    width: 100%;
    grid-area: text;
}

@media all and (max-width: 600px) {
    .hero-blurb h1 {
        font-size: 40px;
        line-height: 50px;
    }
}

.hero-avatar {
    grid-area: image;
    margin: 0 auto;
}

.hero-avatar img {
    width: 100%;
}

/* project preview  */

.project-container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    align-items: center;
    align-content: flex-start;
}

@media all and (min-width: 600px) {
    .project-container {
        grid-template-columns: 1fr 1fr;
    }
}

.project-card {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #E8EBEB;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 32px; 
}


@media screen and (max-width: 440px) {
    .project-card {
          margin-bottom: 16px;
      }
  }

  .project-preview {
    display: flex;
    justify-content: flex-start;
}

  
.project-preview img {
    width: 100%;
    object-fit: cover;
    height: 320px;
}


.project-details {
    padding: 32px;
}

.project-details h2 {
    margin-bottom: 24px;
}

.project-details p {
    margin-bottom: 54px;
    line-height: 24px;
}

.project-details a {
    text-decoration: none;
}


.case-study-btn, .case-study-btn.two, .case-study-btn.three {
    box-sizing: border-box;
    margin-right: 10px;
    padding: 4px;
    background-color: white;
    box-shadow: 0px 1px 0px #272727;
    width: 135px;
      
}

.case-study-btn:hover, .case-study-btn.two:hover, .case-study-btn.three:hover {
    background-color: #ECEEFE;
    box-shadow: 0px 1px 0px #272727;
      
}

.case-study-btn.two:hover {
    background-color: #E2F9F5;
}

.case-study-btn.three:hover {
    background-color: #FFE6DF;
}


 a {
    font-family: 'Work San', sans-serif;
    color: #272727;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-decoration: underline;
    text-transform: none;
    cursor: ne-resize;
}

a:hover {
    text-decoration: none;
}

.stats  {
    list-style-type: none;
}



 .stats li {
    margin-top: 10px;
    border-bottom: 1px solid #C9D0D3;
}


.jump-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 80px;
}

.jump-links a {
  text-decoration: none;
}

@media all and (max-width: 1000px) {
    .jump-links {
        display: none;
    }
}

.jump-link-btn, .jump-link-btn.two, .jump-link-btn.three .jump-link-btn.four{
    box-sizing: border-box;
    margin-right: 5x;
    padding: 4px;
    background-color: white;
    box-shadow: 0px 1px 0px #272727;
    width: 200px;
     
}

.jump-link-btn:hover {
    background-color: #E2F9F5;
}

.jump-link-btn.two:hover {
    background-color: #ECF6FE;
}

.jump-link-btn.four:hover {
    background-color: #ECEEFE;
}

.jump-link-btn.three:hover {
    background-color: #FFE6DF;
}












/* Text Styles */
h1 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 62px;
    display: flex;
    align-items: center;
    color: #272727;
    margin-bottom: 5px;
}


h2 {
    font-family: 'work sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #272727;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #272727;
    margin-bottom: 16px;
}

h4 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #272727;
    margin-bottom: 16px;
}


h5 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #272727;
    margin-bottom: 10x;
}

.blurb {
    padding: 16px 0;
    font-family: 'work sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #272727;
    margin-bottom: 30px;
}

@media all and (max-width: 600px) {
    .blurb {
        font-size: 20px;
        line-height: 30px;
    }
}


.box {
    background-color:white;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 60px;
    padding: 20px 0;
}

.box img {
    width: 85%;
}

@media all and (max-width: 600px) {
    .box img {
        width: 100%;
    }
}

.ab-margin {
    margin-bottom: 50px;
}

.test-stats {
    background-color: white;
    /* box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.2); */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-bottom: 60px; */
    padding: 50px 40px;
}
 
.test-assets-container {
   background: #F5F5F5;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   object-fit: contain;
   padding: 16px 40px;
   /* margin-bottom: 32px; */
   
}
.test-assets-container img {
   width: 100%;
   box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.2);
 }

 .control-asset {
   padding: 0px 16px;
   text-align: center;
 }

 .test-asset {
    padding: 0px 16px;
    text-align: center;
  }

  @media all and (max-width: 900px) {
    .test-assets-container {
        display: none;
    }

    .test-stats {
        display: none;
    }
}



.icon  {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCEFE0;
    border-radius: 50%;
  }

.icon.two {
    background-color: #ECEEFE;
}

.test-stats p {
    margin: 4px 0px;
}

.status {
    margin-bottom: 8px;
}
.fa-li {
  margin-top: 2px;
}

.status {
   padding: 5px 0px; 
}

.callout-text {
 font-size: 16px;
 line-height: 16px;
}

.call-out {
    display: flex;
    align-items: center;
}

.call-out-chart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hidden-default {
    background-color: #fff;
    display: none;
    position: absolute;
    padding: 20px; 
    top: 30%;
    left: 10%;
    width: 80%;
    height: 40%;
    opacity: 0;
}

.call-out-chart:hover .hidden-default {
    display: block;
    background: rgba(255,255,255, 1);
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.2);
    transition: opacity .5s ease-out;
    opacity: 1;
}

@media all and (max-width: 600px) {
    .call-out-chart:hover .hidden-default {
        display: none;
    }

}



.product h3 {
    position: absolute;
    display: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    transition: all 0.5s ease;
} 

.product:hover h3 {
    display: block;
    color: #fff;
}




.tiny {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #272727;

}


hr {
    border: .5px solid;
    color: #C9D0D3;
    width: 100%;
    margin: 40px auto;
 }


.caption {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #6D787E;
    margin-top: 15px;
    margin-bottom: 10px;
}

 .data-btn {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #25877C;
 }

 .data-btn1 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #2376D7;
 }

 .data-btn2 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #5C62E6;
 }


 .data-btn3 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #DD491A;
 }


.quote {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #6D787E;
}


/* Card Styles */
.card {
    background: #FFFFFF;
    border: 1px solid #EBECEE;
    box-sizing: border-box;
    /* Image Shadow */
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
}

/* Buttons */

.contact {
    display: flex;
    flex-wrap: nowrap;
}

.contact a {
    color: #6D787E;
}


.button {
  box-sizing: border-box;
  margin-right: 10px;
  padding: 4px 8px;
}

.button:hover {
    text-decoration: none;
    color: white;
    background-color: #e96450;
    cursor: ne-resize;
}
.button.Linkedin:hover {
    background-color:#6978EF;
  }
    
  .button.Medium:hover {
    background-color: #3EB2A4;
  }
  
  




/* Footer Styles */ 

.footer {
    width: 100vw;
    height: 350px;
    padding-top: 70px;
    background: #F5F5F5;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-top {
    padding-bottom: 90px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.tiny-text {
    font-family: 'work sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* Dark Grey */
    color: #6D787E; the }


/* Case Study Grid */

.fullbleed-bg {
    background-color: #F5F5F5; 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fullbleed-bg-blue {
    background-color: #4252D8; 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.fullbleed-bg-blue .twoCol-left {
    padding-bottom: 0;
}



        .projectcontainer {
            margin: 0 auto;
            width: 50%;
        }

        .margin-100 {
            margin-bottom: 100px;
        }

        .twoCol-left {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 10px;
            padding-bottom: 50px;
        }
        
        .handy-intro {
            grid-gap: 100px;
        }

        .handy-intro {
            grid-gap: 80px;
        }


        .twoCol-right {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-gap: 20px;
        }

        .twoCol-center {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }

        @media (max-width: 768px) {
            .container {
                background-color: #0D5C00;
                margin: 0 auto;
                width: 80%;
            }
        }

        @media (max-width: 530px) {
            .container {
                margin: 0 auto;
                width: 95%;
            }

            .twoCol-left, .twoCol-right, .twoCol-center {
                grid-template-columns: 1fr;
            }
        }



/* Overlays */



/*Project Assets */

.fullbleed-section-photo {
    padding-top: 5px;
    padding-bottom: 60px;
} 


.fullbleed-section-photo img {
    width: 100%;
} 

        .cover-photo-container {
            padding-top: 32px;
           
        } 


        .heroproj-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 32px;
            margin-top: 20px;
        }
        
        @media all and (min-width: 600px) {
            .hero-container {
                display: grid;
        
                grid-template-columns: 2fr 1fr;
                /*grid-template-areas: "text image";*/
            }
        }

    .next {
    
    }