/* Main Document Styling
––––––––––––––––––––––––––––––––––––––––––––––––––*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
   *, html {
     -webkit-font-smoothing: antialiased;
    }
   

/* Layout Grid Styles */
.main-container {
	padding: 0 6%;
    margin: 1rem auto;
    max-width: 1200px;
}

/* Assets */

img {
width: 70%;
}

/* Links */




/* Hero styles */

.hero-container {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    grid-gap: 32px;
    height: 540px;
}

.container > div {
    background-color: #ffffff;
    padding: 32px;
  }

.hero-blurb {
    width: 100%;
}

.hero-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}

@media screen and (max-width: 900px) {
    .hero-avatar {
          display: none;
      }
  }
.hero-avatar img {
    width: 80%;
}

/* project preview card styles */

.project-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background: #FFFFFF;
    border: 1px solid #C9D0D3;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 32px; 
}

@media screen and (max-width: 750px) {
    .project-container {
      flex-direction: column;
    }
}

@media screen and (max-width: 440px) {
    .project-container {
          margin-bottom: 16px;
      }
  }



 a {
    font-family: 'Work San', sans-serif;
    color: #272727;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-decoration: underline;
    text-transform: none;
    cursor: ne-resize;
}

a:hover {
    text-decoration: none;
}

/* Text Styles */
h1 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 63px;
    display: flex;
    align-items: center;
    color: #272727;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #272727;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #272727;
}

h4 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #272727;
}

h5 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #272727;
}

.blurb {
    padding: 16px 0;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #272727;
}
body {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #272727;
}

.caption {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #6D787E;
}

.quote {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #6D787E;
}


/* Card Styles */
.card {
    background: #FFFFFF;
    border: 1px solid #E8EBEB;
    box-sizing: border-box;
    /* Image Shadow */
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.2);
}

/* Buttons */

.contact {
   display: flex;
   flex-wrap: wrap;
}

.button {
  box-sizing: border-box;
  margin-right: 10px;
  padding: 4px 8px;
  background-color: white;
}

.button:hover {
    text-decoration: none;
    color: white;
    background-color: #e96450;
    cursor: ne-resize;
}
.button.Linkedin {
    background-color: white;
  }
.button.Linkedin:hover {
    background-color:#6978EF;
  }
  
  .button.Medium {
    background-color: white;
  }
    
  .button.Medium:hover {
    background-color: #3EB2A4;
  }
  
  

/*
.social-links {
    display: flex;
    /*display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    color:  #272727;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: none;
}

.social-links.linkedin {
    text-decoration: underline;
    padding: 15px 32px;
}

.social-links.linkedin:hover {
    color: #FFFFFF;
    background-color:  #6978EF;
}
.social-links.medium {
    text-decoration: underline;
}

.social-links.medium:hover {
    color: #FFFFFF;
    background-color: #3EB2A4;
}

.social-links.email {
    text-decoration: underline;
}

.social-links.email:hover {
    background-color: #EE6D44;
    color: #FFFFFF;
}
*/


.btn-card {
    font-family: 'Work San', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding: 12px;
    background: #FFFFFF;
    height: 48px;
    box-shadow: 0px 1px 0px #272727;
}

.nav-link {
    font-family: 'Work San', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    padding: 4px;
    background: #272727;
}

.nav-link:hover {
    color: #000;
}

/* Footer Styles */ 

.footer {
    width: 100vw;
    height: 350px;
    padding-top: 70px;
    background: #F5F5F5;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-top {
    padding-bottom: 90px;
}

.footer-bottom {

}

.tiny-text {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* Dark Grey */
    color: #6D787E;
}